body{
  background-color: rgb(12, 12, 88);

  
}

  .flame{
      border:  #fff solid 
  }
  
  .container{
    width: 100%;
    display: flex;
    flex-flow: column nonwrap;
  }
  
  
  .Lcont{
      width:20%;
      height:600px;
      display: flex;
      flex-direction: column;
      
  }
  
  .Rcont{
      width:20%;
      height:600px;
      display: flex;
      flex-direction: column;
  }
  
  .main{
    width:60%;
    height:600px;
  }
  
  .ball{
    width:150%;
    height: 200%;
    align-self: center;
    border-radius: 50%; 
    background-image: radial-gradient(rgba(255,255,255,1),rgba(255,0,0,0) , rgba(255,0,0,0));
  }
  
  .Lball{
    margin-top: 0%;
  }
  
  .Rball{
    margin-top: 100%;
  }
 