body{
  background-color: rgb(12, 12, 88);

  
}

  .flame{
      border:  #fff solid 
  }
  
  .container{
    width: 100%;
    display: flex;
    flex-flow: column nonwrap;
  }
  
  
  .Lcont{
      width:20%;
      height:600px;
      display: flex;
      flex-direction: column;
      
  }
  
  .Rcont{
      width:20%;
      height:600px;
      display: flex;
      flex-direction: column;
  }
  
  .main{
    width:60%;
    height:600px;
  }
  
 